@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&family=Noto+Serif:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Istok Web', sans-serif;
    font-family: 'Noto Serif', serif;
    color: #E1FFEE !important;
}

.parallax {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

/* ini style header */
.title {
    width: 100%;
    height: 100vh;
}

.headerMenu a:hover {
    border-radius: 15px;
    border-bottom: 8px solid #596E79;
}

.first, .third {
    background-image: url('./img/bg1.jpg');
}

.iran, .aboutTitle, .myportfolio {
    font-weight: 700;
    display: inline-block;
    color: #596E79 !important;
}

.second, .last {
    background-image: url('./img/bg4.jpg');
}

/* .third {
    background-image: url('./img/bg1.jpg');
} */

.headerMenu b {
    color: #596E79 !important;
    border: 2px solid #FFB200;
    padding: 5px;
    border-radius: 5px;
}

.projek img {
    width: 12vw;
    height: 12vw;
    border: 5px solid #596E79;
    box-shadow: 3px 3px whitesmoke;
    border-radius: 10px;
    transition-duration: 1s;
    transition-property: transform;
}

.projek img:hover {
    transform: scale(1.5);
}

/* .last {
    background-image: url('./img/bg4.jpg');
} */

.lastMain {
    height: 100vh;
    width: 100%;
}

.contactme {
    font-weight: 700;
    font-size: 8vw;
    background-color: #596E79;
    border-radius: 2vw;
    box-shadow: 3px 3px 3px 3px #FFB200;
}

.sosmed {
    border-radius: 2vw;
    background-color: #596E79;
    box-shadow: 3px 3px 3px 3px #FFB200;
}

.sosmed img, .logo {
    transition-duration: 1s;
    transition-property: transform;
}

.sosmed img:hover, .logo:hover {
    transform: scale(1.5);
}

.footer {
    background-color: #596E79;
    margin-top: 3vw;
}

